body{
    margin: 0;
    padding: 0;
    font-family: 'Nova Square', sans-serif;
    font-size: large;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}           

header {
    background-color: rgba(34, 33, 31, 0.85);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a i {
    color: white;
    font-size: 3em;
    padding: 0.5em;
}

header nav ul {
    display: flex;
    gap: 1.1em;
}

header nav ul li {
    color: white;
    padding: 0.5em;
}

.seccion-1{
    background-color: #a09d9d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.seccion-2{
    background-color: #a09d9d;
    width: 100%;
    display: flex;
    justify-content: center;
    }

.seccion-3{
    background-color:#a09d9d;
    padding: 2em;
}

.titulo{
    display: block;
}

.contenedor{
    display: grid;
    justify-content: center;
    gap: 50px;
    grid-template-columns: 200px 200px 200px;
}

.tarjeta img{
    width: 100%;
    height: 200px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(34, 33, 31, 0.85);
    color: white;
    width: 100%;
}

.form-header {
    text-align: center;
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    margin: 10px auto;
    padding: 50px;
}
  
.form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.formulario {
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    padding: 50px;
    margin: 30px 0 40px 0;
}

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row input[type="text"] {
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  
  .form-row label {
    margin-bottom: 3px;
    text-align: initial;
  }

  .form-row input [type="text"],
  .form-row input[type="email"] {
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }

  .form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
  
  
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
  
  
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
  
  
    width: 100%;
  }
  
  .form-row button {
    font-size: 16px;
    font-weight: bold;
  
  
    color: #ffffff;
    background-color: #5995da;
  
  
    border: none;
    border-radius: 3px;
  
  
    padding: 10px 40px;
    cursor: pointer;
  }
  
  
  .form-row button:hover {
    background-color: #76aeed;
  }
  
  
  .form-row button:active {
    background-color: #407fc7;
  }

footer a i {
    color: white;
}

#check {
    display: none;
}

.checkbtn {
    font-size: 25px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

/* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {
    body{
        font-size: 16px;
    }
  

    header{
        background-color: aqua;
    }

    .menu{
        display: none;
    }

    .seccion-1{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .seccion-2{
        width: 100%;
    }


    .titulo{
        display: block;
    }
    
    .contenedor{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .tarjeta img{
        width: 70%;
        height: 200px;
    }

    .redes{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    #check{
        display: none;
    }

    .checkbtn{
        display: block;
    }

    #encabezado ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2c3e50;
        text-align: center;
        top: 80px;
        left: 100%;
        transition: all 0.5s;
    }

    #check:checked ~ ul{ 
        left: 0;
        display: block;
    }
    	
    #encabezado nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    #encabezado nav ul li a {
        font-size: 20px;
    }

    #check:checked ~ .checkbtn {
        background-color: #2c3e50;
    }

}

@media (min-width: 769px) {
    body{
        margin: 0;
        padding: 0;
        font-family: 'Nova Square', sans-serif;
        font-size: large;
    }

    ol,
    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }           

    header {
        background-color: rgba(34, 33, 31, 0.85);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header a i {
        color: white;
        font-size: 3em;
        padding: 0.5em;
    }

    header nav ul {
        display: flex;
        gap: 1.1em;
    }

    header nav ul li {
        color: white;
        padding: 0.5em;
    }

    .seccion-1{
        background-color: #a09d9d;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em;
    }

    .seccion-2{
        background-color: #a09d9d;
        width: 100%;
        display: flex;
        justify-content: center;
        }

    .seccion-3{
        background-color:#a09d9d;
        padding: 2em;
    }

    .titulo{
        display: block;
    }

    .contenedor{
        display: grid;
        justify-content: center;
        gap: 50px;
        grid-template-columns: 200px 200px 200px;
    }

    .tarjeta img{
        width: 100%;
        height: 200px;
    }

    .redes{
        background-color: rgba(34, 33, 31, 0.85);
        color: white;
        width: 100%;
    }

    .redes a i {
        color: white;
    }

    #check {
        display: none;
    }

    .checkbtn {
        font-size: 25px;
        color: white;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: block;
    }

}

 /* ------------- Para Pantallas de más de 700px ------------- */
 @media only screen and (min-width: 700px) {
    .form-header {
      padding: 50px;
    }
  
    .form-row {
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 20px;
    }
    .form-row input[type="text"] {
      width: 250px;
      height: initial;
    }
    .form-row label {
      text-align: right;
      width: 120px;
      margin-top: 7px;
      padding-right: 20px;
    }
  
    .form-row textarea {
      width: 250px;
    }

    .form-row button {
      margin-left: 120px;
    }
}